.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
.autotest
.sass-cache
config/database.yml
log/*.log
coverage
*.pid
public/system
public/uploads
rerun.txt
capybara*.html
vendor/cache/*
.idea
.rake_tasks~
.livereload