body {
	background: #887ba6;
}


a:link img, 
a:hover img, 
a:visited img { 
	border: 0 solid;
}

#satzspiegel {
	width: 78%;
	margin: 4% auto;
	background: #fff;
	padding: 20px 30px;
  border: thin outset #aaa;
}

.tar {
	text-align: right;
}

p.buttonbox {
	width: 600px;
}



