
/* @group basics and resets */

* {
	margin: 0;
	padding: 0;
}

ol, ul, li {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before {
	content: "";
}

blockquote:after {
	content: "";
}

q:before {
	content: "";
}

q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}


a img, 
a:focus img,
a:link img, 
a:hover img,
a:visited img {
	outline: 0;
	border: 0 solid;
}

pre {
	background-color: #eeeeee;
	padding: 10px;
	font-size: 11px;
}


/* @end */

table.shoes td {
  padding: 5px;
}

/* @group base Typo */

h3 {
	font-size: 16px;
	margin: 2.2em 0 0.7em 0;
}

/* @end */

/* @group Layout */

html {
	background: #0080C9 url(/images/app/karton_bg.jpg) repeat-x;
}

body {
	font: normal 13px/1.4 helvetica, arial, sans-serif;
}

#logo {
  margin: 20px 45px 0;
}

#logo a:link,
#logo a:hover,
#logo a:visited{
	text-decoration: none;
	color:#fff;
	font-size:150%;
}


#opacity_layer {
	position: fixed;
	top:  0;
	width: 100%;
	height: 101%;
	background-color: #456d85;
	margin: auto;
	opacity: 0;
	
}

#opacity_layer.active {
	opacity: 0.75
}

#page {
	position: absolute;
	width: 80%;
	margin: 0 8%;
	
}
#footer_wrapper {
	background: white;
	height: 70px;
	margin-top: 200px;
	width: 100%;
	-moz-border-radius: 4px;
	-webkit-border-top-left-radius: 24px;
	-webkit-border-top-right-radius: 24px;
    
}

/* @end */

/* @group Helper */

.tar {
	text-align: right;
}

.hide {
	display: none;
}

/* @end */

/* @group Metanav */
ul.metanav a:link,
ul.metanav a:hover,
ul.metanav a:visited{
	text-decoration: none;
	color:#fff;
}


ul.metanav {
  margin: 40px 0 0 750px;
}

ul.metanav li {
}

ul.metanav li a {
	padding: 1px 8px;
	margin-left: 18px;
	border: 1px solid #767676;
}

ul.metanav li a:hover {
	background: #696969;
	border: 1px solid #8c8c8c;
}

/* @end */



/* @group Claim */

#claim_wrapper {
	margin-top: 150px;
	border: 1px solid green	;
}

#claim {
	
}

/* @end */

#panel {
	background: #fff;
	position: relative;
	width:  850px;
	padding: 15px;
	margin-top: 0px;
	}

#panel.active {
	-moz-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
	left:  50px;
	top: 30px;
}

.dropshadow {
	-moz-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
}
	
#grow_wrap {
	background: #fff url(/images/app/grau_bg.gif) repeat-y 590px 0;
	position: relative;
}
.message {
	border: 3px solid #00bd47;
}

/* @group Forms */

/* @group formtastic overwrites */

form.formtastic fieldset ol li label {
	width: 30% !important;
}

form.formtastic input[type="text"] {
	font-size: 1.7em;
}

form.formtastic input[type="password"] {
	font-size: 1.7em;
}

form.formtastic textarea {
	font-size: 1.7em;
}

/* @end */

/* @group Defaults */

fieldset {
	border: 0 solid;
}

input[type="text"], input[type="password"], textarea {
	padding: 1px 1px 1px 5px !important;
	font-size: 20px;
	border-color: #eaeaea;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

input[type="text"]:focus {
}

input[type="password"]:focus {
}

textarea:focus {
}

input:focus {
	background: #feffbe;
}

/* @end */

.labelwrap {
  display: inline-block;
  background: #b8b8b8;
  padding: 3px 8px 8px 8px;
  color: #fff;
  font-size: 17px;
  margin-right: 5px;
}
.labelwrap label{
  display: block;	
}

#searched_shoe_form .labelwrap {
	width: 270px;
}
#searched_shoe_form .labelwrap input{
	width: 260px;
}

#add_shoe_form {
	margin-top: 20px;
}

#add_shoe_form .labelwrap.size {
	width: 96px;
}
#add_shoe_form .labelwrap.size input{
	width: 86px;
}

li.buttonwrap {
	display: inline-block;
	background:  url(/images/app/btn_pfeil.png) no-repeat left center;
	padding-left: 20px;

}

.step_box {
	width:  558px;
	margin-bottom: 15px;
	padding: 10px 12px 28px 13px;
	background: #0080C9 url(/images/app/step_pfeil.gif) repeat-x center bottom;
	color: white;
	font-size: 16px;
}

.step_box.error {
	margin-top: 15px;
	padding: 28px 12px 12px 12px;
	background: #900 url(/images/app/error_pfeil.gif) repeat-x center top;
	color: white;
	font-size: 16px;
}


input.passive {
	color: #eaeaea;
}

p.buttonbox {
	width: 88%;
}

/* @group Error Fields */

.fieldWithErrors input {
	background-color: #ffa8a9;
}

.fieldWithErrors textarea {
	background-color: #ffa8a9;
}

.fieldWithErrors select {
	background-color: #ffa8a9;
}

#errorExplanation {
	border: 1px solid #cc0000;
	margin: 20px 0;
	background: #f4f4f4;
	width:579px;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 0.6em 20px;
	margin: 0;
	font-size: 16px;
	background-color: #cc0000;
	color: #ffffff;
}

#errorExplanation p {
	color: #333333;
	margin: 12px;
	padding: 5px;
}

#errorExplanation ul {
	margin: 12px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

/* @end */

.foot_shoes_form input.manufacturer {
	width: 10em;
}

.foot_shoes_form input.model {
	width: 10em;
}

.foot_shoes_form input.size {
	width: 5em;
}

ul#search_options {
	margin: 15px 0 20px 160px;
}

#search_options li {
	display: inline;
	margin: 0 70px;
}

/* @end */

/* @group Shoes List */

ol.shoes_list {
	width: 583px;
	margin-top: 8px;
	
}

.shoes_list li {
	padding: 4px 8px;
	line-height: 1.4em;
	color: #333;
	background-color: #f0f2f2;
	font-size: 20px;
	margin-bottom:8px;
	border: 1px solid #b8b8b8;
}

.shoes_list .delete,
.shoes_list .edit {
	float: right;
	margin-top: 6px;
	margin-right: 6px;
}


/* @end */



/* @group Forecast */

table#foot_check_shoes {
	width: 95%;
}

/* @end */

/* @group Rating */

.rating {
	font-size: 25px;
	vertical-align: sub;
}

.rating .good_stars {
	color: #ff8855;
}

.rating .bad_stars {
	color: #aaaaaa;
}

#result_buttonwrap{
	margin-left: 590px;
	margin-bottom: 20px;
}

#show_result_button {
	width: 766px;
	margin-top: 30px;
}

/* @end */

