%p Hallo #{@resource.email}!

%p
  Du möchtest dein Passwort ändern? Kein Problem. Bitte klicke einfach den folgenden Link.
  Alles weitere erfährst du dort.

%p
  = link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p
  Falls du keine Ahnung hast worum es hier geht, kannst du diese Mail einfach ignorieren.