- remote_form_for [@foot, @shoe || Shoe.new], add_shoes_options do |f| 
  %p#losjetzt_eingeben.step_box.hide
    Trage jetzt die Schuhe ein, die dir gut passen. Je mehr du einträgst, umso besser wird unsere Berechnung!
  %fieldset.inputs
    %ol.shoe_row.shoe_completer
      %li.labelwrap
        =f.label(:manufacturer, 'Hersteller ')
        =f.text_field(:manufacturer, :class => "manufacturer")
      %li.labelwrap
        =f.label(:model, 'Modell ')
        =f.text_field(:model, :class => 'model') 
      %li.labelwrap.size
        =f.label(:size, 'Size')
        =f.text_field(:size, :class => 'size', :autocomplete => 'off')
      %li.buttonwrap  
        =f.submit 'Passt mir!', :class => 'button right_submit'
-if @shoe
  - unless @shoe.errors.blank?
    .step_box.error.hide
      = uniq_error_messages_for @shoe
    =javascript_tag '$(".step_box.error.hide").show("drop", { direction: "down" })'
