- form_tag('/forecast', :method => :get) do
  .shoe_row
    = text_field_tag "manufacturer", nil, :class => "manufacturer"
    = text_field_tag "model", nil, :class => "model"
    = submit_tag 'Suchen'