%p Du suchst nach:
%ol.shoes_list
  %li
    =link_to_remote image_tag('app/icons_small/cross.png' , :class => 'delete'), :url => foot_searched_shoes_path(@foot), :method => :delete, :update => 'panel'
    =link_to_remote image_tag('app/icons_small/edit.png' , :class => 'edit'), :url => edit_foot_searched_shoes_path(@foot), :method => :get, :update => 'searched_shoe'
    = "#{@foot.searched_shoe.manufacturer_name} // #{@foot.searched_shoe.model_name} "
      
