- remote_form_for( @foot, :update => 'add_shoe_form', :complete => '$("#add_shoe_form").show(); init_shoe_completer();  $("#foot_fields input.manufacturer").focus(); $("#search_shoes_submit").val("Ändern")', :html => {:class => "foot_shoes_form", :id => "searched_shoe_form" }) do |f|
  .forecast
  - f.fields_for :searched_shoe do |searched|
    %ol.shoe_row.shoe_completer
      %li.labelwrap
        = searched.label( :manufacturer_name, "Hersteller")
        = searched.text_field( :manufacturer_name, :class => "manufacturer passive")
      %li.labelwrap
        = searched.label(:model_name, "Modell")
        = searched.text_field(:model_name, :class => "model passive")
      %li.buttonwrap=submit_tag( 'Speichern', :id => "searched_shoe_submit",  :class => 'awesome red right_submit')
      
