- remote_form_for( @foot, searched_shoe_form_options ) do |f|
  .forecast
  - f.fields_for :searched_shoe , @foot.searched_shoe do |searched|
    %ol.shoe_row.shoe_completer
      %li.labelwrap
        = searched.label( :manufacturer_name, "Hersteller")
        = searched.text_field( :manufacturer_name, :class => "manufacturer")
      %li.labelwrap
        = searched.label(:model_name, "Modell")
        = searched.text_field(:model_name, :class => "model")
      %li.buttonwrap=submit_tag( 'Suchen', :id => "searched_shoe_submit",  :class => 'awesome red right_submit')
      
