#foot_fields
  .foot_caption
    Bitte gib ein paar Schuhe ein, die gut passen:
  %span.manufacturer_caption="Hersteller"
  %span.model_caption="Modell"
  %span.size_caption="Größe in EUR"

- fields_for @foot.shoes do |shoe|
    .shoe_row
      =shoe.text_field(:manufacturer, :class => "manufacturer", :id => nil )
      =shoe.text_field(:model, :class => 'model', :id => nil) 
      =shoe.text_field(:size, :class => 'size', :id => nil)
