-unless @foot.shoes.blank?   
  %ol.shoes_list
    =render( :partial => 'feet/shoe', :collection => @foot.shoes.reverse)
%p#goto_result.buttonwrap
  =link_to "meine Größe anzeigen", fitting_url(@foot), :id => 'result_button', :class => 'button right_submit'
