%span.manufacturer_caption="Hersteller"
%span.model_caption="Modell"
%span.size_caption="Größe in EUR"
-subform.fields_for :shoes do |sf|
  .shoe_row
    =sf.text_field(:manufacturer, :class => "manufacturer", :id => nil )
    =sf.text_field(:model, :class => 'model', :id => nil) 
    =sf.text_field(:size, :class => 'size', :id => nil)
    =remove_button_unless_new_record(sf)
