<tr>
  <td>
    <%= shoe.text_field :manufacturer %>
  </td>     
  <td>      
    <%= shoe.text_field :model %>
  </td>     
  <td>      
    <%= shoe.text_field :size %>
  </td>     
  <td>
    <%= remove_shoe_button "Zeile löschen" %>
  </td>
</tr>
  