<% subform.fields_for :shoes do |sf| %>
  <tr>
    <td>
      <%= sf.text_field :manufacturer %>
    </td>
    <td>
      <%= sf.text_field :model %>
    </td>
    <td>
      <%= sf.text_field :size %>
    </td>
    <td>
      <%= remove_shoe_button "Zeile löschen" %>
    </td>
  </tr>
<% end  %>  
  