=debug_toggle @foot.shoes
= error_messages_for :foot, :object_name => 'Fuß', :header_message => nil, :message => 'Bitte prüfen Sie die eingegeben Daten' 
-unless shoes_blank?
  %p 
  %table#forecast_shoes.shoes  
    =render( :partial => 'feet/shoe', :collection => @foot.shoes)  

#show_result_button.tar{:class => "#{ shoes_blank? ? 'hide' : ''}"  } 
  =link_to "Ergebnis Anzeigen", fitting_url(@foot), :class => 'awesome orange'
  %br
  %br
  =link_to "Alle passenden Schuhe", more_fitting_url(@foot), :class => 'awesome orange'
  
  