
= error_messages_for :foot, :header_message => nil, :message => 'Bitte prüfen Sie die eingegeben Daten' 

-unless @foot.shoes.blank?
  %p 
  %table#forecast_shoes.shoes  
    =render( :partial => 'feet/shoe', :collection => @foot.shoes.select(&:valid?))  

#show_result_button.tar{:class => "#{ shoes_blank? ? 'hide' : ''}"  } 
  =link_to "Ergebnis Anzeigen", fitting_url(@foot), :class => 'awesome orange'
  %br
  %br
  =link_to "Alle passenden Schuhe", more_fitting_url(@foot), :class => 'awesome orange'
  
  