-unless @foot.shoes.blank?   
  %ol#forecast_shoes  
    =render( :partial => 'feet/shoe', :collection => @foot.shoes.reverse)  
%ol
  %li#result_buttonwrap.buttonwrap
    =link_to "Ergebnis", fitting_url(@foot), :class => 'awesome red right_submit'
