
= error_messages_for :foot, :header_message => nil, :message => 'Bitte prüfen Sie die eingegeben Daten' 

-unless @foot.shoes.blank?
   
  %ol#forecast_shoes  
    =render( :partial => 'feet/shoe', :collection => @foot.shoes)  

#show_result_button.tar
  =link_to "Ergebnis Anzeigen", fitting_url(@foot), :class => 'awesome orange'
  %br
  %br
  =link_to "Alle passenden Schuhe", more_fitting_url(@foot), :class => 'awesome orange'
  
  