%tr
  %td
    <%= shoe.text_field :manufacturer %>
       
  %td      
    <%= shoe.text_field :model %>
       
  %td      
    <%= shoe.text_field :size %>
       
  %td
    <%= remove_shoe_button "Zeile löschen" %>
  
  