
= error_messages_for :foot, :header_message => nil, :message => 'Bitte prüfen Sie die eingegeben Daten' 

-unless @foot.shoes.blank?
   
  %ol#forecast_shoes  
    =render( :partial => 'feet/shoe', :collection => @foot.shoes.select(&:valid?))  

#show_result_button{:class => "#{ shoes_blank? ? 'hide' : ''}"  } 
  =link_to "Ergebnis Anzeigen", fitting_url(@foot), :class => 'awesome red'
  %br
  %br
  =link_to "Alle passenden Schuhe", more_fitting_url(@foot), :class => 'awesome red'
  
  