%h2 Schuhe von ähnlichen Füßen:
%table.shoes
  %thead
    %tr
      %th Hersteller
      %th Modell
      %th Größe
  %tbody    
    -@foot.shoes_of_similar_feet.each do |similar_shoe|
      %tr{ :class => cycle('odd','even') }
        %td=similar_shoe.manufacturer
        %td=similar_shoe.model
        %td Größe: #{similar_shoe.size}
