#grow_wrap
  - if @foot.searched_shoe.new_record?
    = render :partial => 'feet/searched_shoe_form'
  -else
    = render :partial => 'feet/searched_shoe'

  = render :partial => 'feet/shoe_area' unless @foot.new_record?

#forecast_result