%h1 Listing Feet and Shoes
    
- @feet.each do |foot|
  %p=link_to("Show", foot)
  %p=link_to 'Fuß löschen', foot, :confirm => 'Wirklich löschen?', :method => :delete
  
  %table{:border => 1, :cellpadding => 4 }
    - foot.shoes.each do |shoe|
      %tr
        %td=shoe.manufacturer
        %td=shoe.model
        %td=shoe.size
        %td=link_to("Bearbeiten", edit_shoe_path(shoe))
        %td=link_to 'Schuh löschen', shoe, :confirm => 'Wirklich löschen?', :method => :delete
  
