<h1>New foot</h1>

<% form_for @foot do |footform| %>
  <%= footform.error_messages %>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <th>Hersteller</th>
      <th>Modell</th>
      <th>Größe</th>
    </tr>
    <%= render :partial => 'shoe_fields',  :locals => {:subform => footform} %>
  </table>

  <p class="tar buttonbox">
    <%= footform.submit 'Create' %>
    <%= link_to 'Back', feet_path %>
  </p>
<% end %>

