
#grow_wrap
  %p Trage hier bitte das Schuhmodell ein, dessen Größen du ermitteln möchtest.
  = render :partial => 'feet/searched_shoe_form'

  = render :partial => 'feet/shoe_area' unless @foot.new_record?

#forecast_result