
%h1 deine Schuhe:

= render :partial => "foot_form"
  #matching_shoes
    =render :partial => 'fitting_shoe'
    =render :partial => 'similar_shoe'
  

= link_to 'Edit', edit_foot_path(@foot) 
|
= link_to 'Back', feet_path 