
%h1 Nutzungsbedingungen

%p
  Die folgenden Nutzungsbedingungen sind Grundlage für die Nutzung von Shoesizefinder.

%h2 Verwendung deiner Daten

%p
  Shoesizefinder erhebt, speichert und nutzt deine Daten ausschließlich zum Zwecke der Bereitstellung dieses Angebots.
  Wenn die Speicherung nicht mehr erforderlich ist (bspw. wenn du deinen Account löschst) werden alle deine
  personenbezogenen Daten gelöscht.

-#%pre
-#  Schuhgrößen mit Email-Adresse sind personenbezogene Daten.
-#  http://de.wikipedia.org/wiki/Personenbezogene_Daten#Personenbezug
-#  In unserem Fall würde maximal der Personenbezug aufgelöst, wenn der Account gelöscht wird
  
%h2 Mitgliedschaft

%p
  Die Mitgliedschaft bei Shoesizefinder ist kostenlos und beginnt mit Aktivierung des Accounts
  (Bestätigung der Anmeldung durch Aktivierungs-Mail).



%h2 Benutzerdaten
-#
-#%h3 Benutzername
-#
-#%p
-#  Falls ein Benutzername angegeben werden muss, darf prinzipiell frei gewählt werden, er darf jedoch nicht gegen
-#  geltendes deutsches Recht, Rechte Dritter, gegen diese Nutzungsbedingungen oder gegen die guten Sitten verstoßen.
-#%p
-#  Als Benutzernamen darf insbesondere:
-#
-#%ul
-#  %li
-#    nicht der Name einer anderen Person verwendet werden;
-#  %li
-#    kein Name, welcher urheberrechtlich, durch eine Marke oder durch ein sonstiges Schutzrecht geschützt ist,
-#    verwendet werden;
-#  %li
-#    kein Name, welcher die Rechte anderer natürlicher oder juristischer Personen verletzt oder verletzen kann,
-#    verwendet werden;
-#  %li
-#    kein Name verwendet werden, der andere Mitglieder provozieren oder verletzen könnten (z.B. vulgäre oder
-#    kränkende Benutzernamen);
-#  %li
-#    kein Name verwendet werden, der Codes enthält, an denen sich die Mitglieder einer extremistischen Szene erkennen,
-#    auch wenn die codierte Bedeutung des Benutzernamens für Außenstehende nicht unmittelbar erkennbar ist;
-#  %li
-#    Als Inhaber eines Shoesizefinder-Accounts bist du für sämtliche Inhalte verantwortlich, welche unter deinem
-#    Benutzernamen verbreitet werden.
-#
-#%h3 Benutzerbild/Avatar
-#
-#%p
-#  Ein Benutzerbild darf prinzipiell frei gewählt werden, es darf jedoch nicht gegen geltendes deutsches Recht,
-#  Rechte Dritter, gegen diese Nutzungsbedingungen oder gegen die guten Sitten verstoßen.
-#%p
-#  Als Benutzerbild darf insbesondere:
-#%ul
-#  %li
-#    nicht das Bild einer anderen Person verwendet werden;
-#  %li
-#    kein Bild, welches urheberrechtlich, durch eine Marke oder durch ein sonstiges Schutzrecht geschützt ist, verwendet werden;
-#  %li
-#    kein vulgäres oder kränkendes Benutzerbild verwendet werden;

%h3 Sorgfaltspflichten für Benutzerdaten
%p
  Du bist für sämtliche Inhalte verantwortlich, welche unter deinem Benutzernamen verbreitet werden.
  Für deinen Account ist daher ein sicheres Passwort zu wählen und alle erforderlichen Maßnahmen zu treffen,
  um dessen Geheimhaltung sicherzustellen.
  Für die unbefugte Nutzung deines Benutzernamens bzw. deiner Email-Adresse durch Dritte trägst Du die Verantwortung.

%p
  Bei Kenntnis oder begründetem Verdacht eines Missbrauchs deines Benutzernamens oder Passwortes darf
  Shoesizefinder die erforderlichen Maßnahmen ergreifen und insbesondere die Mitgliedschaft oder den Zugang zu
  deinem Account vorübergehend sperren.

%h2
  Einstellen von Inhalten

%p
  Als Mitglied hast du verschiedenste Möglichkeiten, Inhalte, wie z.B. Texte einzustellen.
  Dabei ist zu beachten, dass das Einstellen folgender Inhalte bei Shoesizefinder unzulässig ist:
-#%pre
-#  User könnten z.B. Nazi-Schuhnamen eingeben
%ul
  %li rassistische, pornografische, obszöne, beleidigende, vulgäre, Gewalt verherrlichende oder verharmlosende sowie sittenwidrige Inhalte;
  %li Inhalte, die Kinder oder Jugendliche in ihrer Entwicklung oder Erziehung beeinträchtigen oder gefährden oder die Menschenwürde oder sonstige geschätzte Rechtsgüter verletzen;
  %li Inhalte, die Andere zu strafbaren oder sonst sittenwidrigen Handlungen bewegen können;
  %li beleidigende oder verletzende Äußerungen;
  %li Drohungen gegen andere Mitglieder, Anbieter oder Dritte;
  %li Verleumdungen, Beleidigungen, Lügen oder Falschinformationen;
  %li Inhalte, die das Recht auf informationelle Selbstbestimmung Dritter verletzen können;
  %li Kopierte Inhalte, an denen du keine Rechte hast;
  %li Inhalte, die ein Sicherheitsrisiko darstellen, wie beispielsweise Viren;
  %li Links auf Webseiten mit gegen geltendes Recht verstoßende, jugendgefährdende oder sonst unzulässigen Inhalte;
  %li privaten Daten, wie Telefonnummer oder E-Mail Adresse außerhalb des Profils;
  %li Namen, Anschriften, Telefonnummern oder E-Mail-Adressen außerhalb des Profils.
  %li Nutzungsrechte


-#%pre
-#  Hier umformulieren für Schuhdaten:
%p
  Mit dem Einstellen von Inhalten und/oder mit der Übertragung deines Benutzerbilds oder eines Fotos räumst du Shoesizefinder an diesen Inhalten das
  zeitlich und räumlich unbeschränkte, nicht exklusive Recht ein, die Inhalte zusammen mit dem von dir gewählten Benutzernamen zu nutzen.

%p
  Shoesizefinder ist unter Wahrung des Urheberpersönlichkeitsrechts und deines Persönlichkeitsrechts insbesondere berechtigt, das Benutzerbild
  und Fotos im Rahmen des Dienstes zu vervielfältigen, zu verbreiten, öffentlich zugänglich zu machen und auf Abruf zur Verfügung zu
  stellen (Online-, Zugriffs-, und Übertragungsrecht) sowie zu archivieren und in Datenbanken aufzunehmen.

%p
  Zur Bearbeitung der von dir bereitgestellten Inhalte und des Benutzerbilds bzw. Fotos ist Shoesizefinder nur insoweit berechtigt,
  als dies zur grafischen Darstellung bzw. aus redaktionellen Gründen erforderlich ist.

%p
  Shoesizefinder braucht dir für die Einräumung der vorstehenden Nutzungsrechte kein Honorar zu zahlen.

%p
  Du versicherst, über sämtliche Rechte an den von dir übertragenen Inhalten zu verfügen, insbesondere berechtigt zu sein, die
  vorstehend aufgeführten Rechte an Shoesizefinder übertragen zu können. Auf Benutzerbildern und Fotos abgebildete Personen müssen
  volljährig sein und haben in den Upload eingewilligt bzw. verfügen über die entsprechende Einwilligung der Erziehungsberechtigten.

%p
  Ein Anspruch auf Veröffentlichung der von dir eingestellten Inhalte bei Shoesizefinder besteht nicht. Shoesizefinder entscheidet
  über die Veröffentlichung nach freiem redaktionellem Ermessen. Bei Benutzerbildern ist Shoesizefinder nicht verpflichtet, den Urheber zu nennen.

%p
  Sollten Dritte wegen der Einstellung von Inhalten durch dich Ansprüche gegen Shoesizefinder geltend machen
  (insbesondere wegen der Verletzung von Persönlichkeits-, Urheber-, Marken- oder Leistungsschutzrechten), bist du verpflichtet,
  Shoesizefinder sämtlichen Schaden zu ersetzen, welcher Shoesizefinder durch eine schuldhafte Pflichtverletzung deinerseits entsteht.
  Der Nachweis, das kein oder ein geringerer als der von Shoesizefinder geltend gemachte Schaden eingetreten ist, bleibt dir unbenommen.

%h2
  Beendigung der Mitgliedschaft

%p
  Du bist berechtigt, deine Mitgliedschaft jederzeit ohne Einhaltung einer Frist ordentlich zu kündigen. Shoesizefinder ist berechtigt,
  deine Mitgliedschaft jederzeit zu kündigen.

%p
  Shoesizefinder hat das Recht, deine Mitgliedschaft fristlos zu kündigen, wenn Sie diese Nutzungsbedingungen schuldhaft verletzen.
  Hat Shoesizefinder deine Mitgliedschaft wegen einer Verletzung dieser Nutzungsbedingungen fristlos gekündigt, kannst du dich bei
  Shoesizefinder nur mit ausdrücklicher Einwilligung von Shoesizefinder erneut anmelden. Mitgliedern ist es nicht erlaubt,
  ehemaligen Mitgliedern, deren Mitgliedschaft fristlos gekündigt wurde, die Nutzung von Shoesizefinder zu ermöglichen.

%p
  Dein Recht, deine Mitgliedschaft aus wichtigem Grunde zu kündigen, ist durch diese Nutzungsbedingungen unberührt.

%h2
  Schlussbestimmungen
%p
  Shoesizefinder behält sich in einem zumutbaren Umfang zeitweilige Beschränkungen des Dienstes
  durch Wartungsarbeiten und Weiterentwicklungen vor, soweit diese für einen ordnungsgemäßen oder verbesserten
  Betrieb erforderlich sind.
    
%p
  Shoesizefinder behält sich nach Maßgabe der nachfolgenden Bestimmungen das Recht vor, die Nutzungsbedingungen und Leistungen zu ändern,
  sofern die Änderungen unter Berücksichtigung der Interessen von Shoesizefinder für dich zumutbar sind; dies ist insbesondere der Fall,
  wenn die Änderungen für dich im Wesentlichen mit keinerlei Nachteilen verbunden sind, z.B. bei Änderungen von Kontaktinformationen,
  Aufnahme zusätzlicher Dienste oder Ähnlichem.

%p
  Im Übrigen wird Shoesizefinder dich vor einer Änderung dieser Nutzungsbedingungen, einer wesentlichen Änderung einer Leistung mit
  angemessenem Vorlauf, mindestens jedoch einen Monat vor dem beabsichtigten Inkrafttreten informieren. Die Information erfolgt per
  E-Mail an die in deinem Profil angegebene E-Mail-Adresse. Deine Einwilligung zu Änderungen gilt als erteilt, wenn du innerhalb eines
  Monats nach Mitteilung nicht widersprochen hast.

Für alle Rechtsbeziehungen, die sich aus der Nutzung von Shoesizefinder ergeben, gilt das Recht der Bundesrepublik Deutschland.

%h2
  Haftungsausschluss

%h3
  1. Inhalt des Onlineangebotes

%p
  Shoesizefinder (im folgenden als Autor bezeichnet) übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder
  Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art
  beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und
  unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich
  vorsätzliches oder grob fahrlässiges Verschulden vorliegt.

%p
  Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte
  Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.

%h3 2. Verweise und Links

%p
  Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"), die außerhalb des Verantwortungsbereiches des Autors
  liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis
  hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.

%p
  Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten
  erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten/verknüpften Seiten
  hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller verlinkten/verknüpften
  Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten
  Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten
  und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder
  unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen
  entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige
  Veröffentlichung lediglich verweist.

%h3 3. Urheber- und Kennzeichenrecht

%p
  Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen und Texte
  zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken,
  Tondokumente, Videosequenzen und Texte zurückzugreifen.

%p
  Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den
  Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen
  Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!

%p
  Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder
  Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne
  ausdrückliche Zustimmung des Autors nicht gestattet.

%h3 4. Datenschutz

%p
  Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (E-Mail-Adressen, Namen, Anschriften)
  besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung
  aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter
  Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten
  Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie E-Mail-Adressen durch Dritte zur Übersendung von nicht ausdrücklich
  angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstössen
  gegen dieses Verbot sind ausdrücklich vorbehalten.

%h3 5. Rechtswirksamkeit dieses Haftungsausschlusses

%p
  Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde.
  Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig
  entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
