%h1 Impressum

%p
  Shoesizefinder ist ein Experiment von Arbo von Monkiewitsch und Eckhard Rotte.

%address
  Eckhard Rotte &amp; Arbo von Monkiewitsch GbR
  %br
  Goesselstr. 10
  %br
  28215 Bemen
  %br
  %a{:href => "mailto:info@shoesizefinder.de"}
    info@shoesizefinder.de
