%h1 Impressum

%p
  Shoesizefinder ist ein Experiment von
  %a{:href => "https://www.xing.com/profile/Arbo_vonMonkiewitsch"}
    Arbo von Monkiewitsch
  und
  %a{:href => "https://www.xing.com/profile/Eckhard_Rotte"}
    Eckhard Rotte.

%address.vcard
  %span.org Arbo von Monkiewitsch &amp; Eckhard Rotte GbR
  %br
  %span.adr
    %span.street-address Waller Ring 89
    %br
    %span.postal-code 28219
    %span.locality Bremen
  %br
  %a.email{:href => "mailto:info@shoesizefinder.com"}
    info@shoesizefinder.com
