%h3
  Vielen Dank für dein Feedback!

%p
  Wir werden uns so schnell wie möglich darum kümmern.

%p
  = link_to "weiteres Feedback abgeben", :remote => true, :update => 'feedback_wrap', :url => new_feedback_path
