#feedback
  %h2 Feedback
  %p
    Shoesizefinder ist ein Experiment. Wir benötigen dein Feedback um es sinnvoll weiterentwickeln zu können.
    Wir freuen uns deshalb auf Anregungen, Kritik und Lob von Dir!

  =render :partial => 'form', :object => @feedback, :as => :feedback
