- content_for :head do
  = javascript_include_tag 'jquery.plugins/jquery.jcarousel.min.js'
  = stylesheet_link_tag  'jcarousel/tango/skin.css'
  :javascript
    $(document).ready(function() {
      $('#fitting_shoes').jcarousel({
        visible: 4
      });                                
    });

%h2 Passende Schuhe:
%table.fitting_shoes
  %thead
    %tr
      %th Hersteller
      %th Modell
      %th Treffer
      %th
  %tbody    
    -@foot.recommended_shoes.each do |fitting_shoe|

      %tr{ :class => cycle('odd','even') }
        %td=fitting_shoe.manufacturer.capitalize
        %td=fitting_shoe.model.capitalize
        %td=fitting_shoe.num_feet
        %td
          - if fitting_shoe.affiliate_shoes.present?
            %ol#fitting_shoes.results.jcarousel-skin-tango
              =render 'affiliate_shoe/show', :affiliate_shoes => fitting_shoe.affiliate_shoes
          - else
            %p
              =image_tag 'app/not_available.png', :alt => "Dieser Schuh ist leider nicht verfügbar"
