- content_for :bottom do
  = javascript_include_tag 'jquery.plugins/jquery.jcarousel.min.js'
  = stylesheet_link_tag  'jcarousel/ssf/skin.css'
  :javascript
    $(document).ready(function() {
      $('#fitting_shoes').jcarousel({
        visible: 5,
        scroll: 5
      });                                
    });

%h2 Passende Schuhe:
=render :partial => 'buttons'

%table.fitting_shoes
  %thead
    %tr
      %th Hersteller
      %th Modell
      %th Treffer
      %th
  %tbody    
    = render :partial => 'recommended_shoe', :collection => @foot.recommended_shoes
