%br
%br
%h2 Passende Schuhe:
%table.shoes
  %thead
    %tr
      %th Hersteller
      %th Modell
      %th Treffer
      %th
  %tbody    
    -@foot.recommended_shoes.each do |fitting_shoe|
      %tr{ :class => cycle('odd','even') }
        %td=fitting_shoe.manufacturer
        %td=fitting_shoe.model
        %td=fitting_shoe.num_feet
        %td
          - affiliate_shoes = AffiliateShoe.find(:model => fitting_shoe.model, :manufacturer => fitting_shoe.manufacturer)
          %ol.results
            =render :partial => 'affiliate_shoe/show', :locals => { :affiliate_shoes => affiliate_shoes} if affiliate_shoes
        