%br
%br
%h2 Passende Schuhe:
%table.shoes
  %thead
    %tr
      %th Hersteller
      %th Modell
      /%th Größe
      /%th Bild
      %th Treffer
  %tbody    
    -@foot.recommended_shoes.each do |fitting_shoe|
      %tr{ :class => cycle('odd','even') }
        %td=fitting_shoe.manufacturer
        %td=fitting_shoe.model
        /%td Größe: #{fitting_shoe.size}
        /%td=render :partial => 'belboon_products/show', :locals => { :product => fitting_shoe.belboon_product}
        %td=fitting_shoe.num_feet