- content_for :bottom do
  = javascript_include_tag 'jquery.plugins/jquery.jcarousel.min.js'
  = stylesheet_link_tag  'jcarousel/ssf/skin.css'
  :javascript
    $(document).ready(function() {
      $('#fitting_shoes .results').jcarousel({
        visible: 5,
        scroll: 5
      });                                
    });

%h2 Passende Schuhe:
.buttonwrap
  =link_to "Neue Suche", foot_path(@foot), :class => 'button secondary'



- if @foot.recommended_shoes.present?
  %table#fitting_shoes
    %tbody    
      = render :partial => 'recommended_shoe', :collection => @foot.recommended_shoes
- else
  Wir haben leider keine passenden Schuhe gefunden!