%tr{ :class => cycle('odd','even') }
  %td.shoes
    - if recommended_shoe.affiliate_shoes.present?
      %ol.results.jcarousel-skin-ssf
        = render 'affiliate_shoe/show', :affiliate_shoes => recommended_shoe.affiliate_shoes
