- remote_form_for(@foot, :url => {:action => 'add_target_shoe'}, :update => 'forecast_shoes_form', :complete => '$("#forecast_shoes_form").show(); init_autocompletion(); $("#foot_fields input.manufacturer").focus(); $("#search_shoes_submit").val("Ändern")' , :class => "search_shoes_form") do |foot|
  .forecast
    .shoe_row
      In welcher Größe passt mir von
      = text_field_tag "manufacturer", params[:manufacturer], :class => "manufacturer", :id => "manufacturer"
      der 
      = text_field_tag "model", params[:model], :class => "model", :id => "model"
      ?
      = submit_tag 'Weiter', :id => "search_shoes_submit",  :class => 'awesome orange'
      