.forecast
  .shoe_row
    In welcher Größe passt mir von
    = text_field_tag "manufacturer", params[:manufacturer], :class => "manufacturer", :id => "manufacturer"
    der 
    = text_field_tag "model", params[:model], :class => "model", :id => "model"
    ?