- form_tag(fitting_url(@foot), :method => :get, :class => "search_shoes_form") do
  = render :partial => "forecasts/search_fitting_fields"
  %p.tar.buttonbox
    = submit_tag 'Suchen', :name => nil, :id => "search_shoes_submit"