
- form_for @foot, :html => {:class => 'foot_shoes_form'} do |footform| 

  = render :partial => "search_fitting_fields"
  #forecast_new_foot_fields
    = render :partial => 'feet/shoe_fields', :locals => {:subform => footform} 
  %p.tar.buttonbox
    = footform.submit 'Suchen', :id => 'forecast_new_foot_submit', :class => 'awesome orange'
    






      