=debug_toggle @foot

/ -semantic_remote_form_for @foot, :update => 'forecast_shoes' do |form| 
/   =form.inputs :manufacturer, :model, :size, :for => :shoe 
/   =form.buttons
 
=render :partial => 'requested_shoe_form'

#forecast_shoes_form
  = render :partial => 'add_shoe_form' unless shoes_blank?
#shoes_list
  =render :partial => 'feet/shoes' 

#forecast_result 