
- affiliate_shoes.each do |affiliate_shoe|
  %li
    - Rails.logger.debug(affiliate_shoe.deeplinkurl)
    %a{ :href => affiliate_shoe.deeplinkurl}
      %p.imagewrap
        %img{ :src => affiliate_shoe.imagesmallurl}
        %strong.price= render_price affiliate_shoe.price
      %p.text
        %span.product_name= truncate( affiliate_shoe.productname, :length => 50, :omission => "&nbsp;&hellip;")
