
- affiliate_shoes.each do |affiliate_shoe|
  %li
    %a{ :href => affiliate_shoe.deeplinkurl}
      %img{ :src => affiliate_shoe.imagesmallurl}
      %strong.price= "#{affiliate_shoe.price} &euro;"
      %p.text
        %span.product_name= affiliate_shoe.productname
