#claim_wrapper
  #claim.centered 
    - if @controller.action_name.eql?('search')
      Kein Ärger mehr mit falschen Schuhgrößen.
      %br 
      Das Schuhkombinat findet die passende Größe für dich!
    