#claim_wrapper
  #claim.centered 
    - if @controller.action_name.eql?('search')
      Nie wieder Ärger mit falschen Schuhgrößen.
      %br 
      Wir finden die passende Größe für dich!
  %ul#tab_nav
    %li.active=link_to 'Suchen'
    %li=link_to 'Stöbern'
    %li=link_to 'Warum es funktioniert'