#feedback.sidebar
  #feedback_wrap
    %h3 Feedback
    %p
      Shoesizefinder ist ein Experiment. Wir benötigen dein Feedback um es sinnvoll weiterentwickeln zu können.
      Wir freuen uns deshalb auf Anregungen, Kritik und Lob von Dir!
    = render :partial => 'feedbacks/form'
  %a#feedback_toggle{:href => new_feedback_path}
    =image_tag('app/feedback.png')
