!!!
%html
  %head
    %title shoe size finder 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'application' 
    = yield :head
  %body
    #satzspiegel
      #panel
        = yield
