!!!
%html
  %head
    %title shoe size finder 
    = stylesheet_link_tag 'application','jquery.autocomplete'
    = javascript_include_tag 'jquery', 'application', 'jquery.autocomplete.min', 'jquery.autocomplete', :cache => 'jquery'
    = yield :head
  %body
    #satzspiegel
      #panel
        = yield
